<form [formGroup]="formGroup">
  <p-floatlabel class="w-full" variant="on">
    <p-select
      [formControlName]="controlName"
      [options]="items"
      optionLabel="label"
      optionValue="value"
      class="w-full"
      appendTo="body"
      [id]="controlName"
      emptyMessage="Nenhuma opção encontrada"
      />
    <label [for]="controlName">{{ label }}</label>
  </p-floatlabel>


  <div *ngIf="isInvalid()" class="text-red-500 text-sm mt-1">
    {{ getErrorMessage() }}
</div>
</form>