<div class=" flex items-center justify-center h-screen">
    <form [formGroup]="formGroup" (submit)="submit()" class="">
        <div
            class="rounded-4xl border-t-2 border-l-2 border-r-2 shadow-xl border-primary   flex justify-center flex-col gap-7 bg-zinc-950 px-14 h-[500px] w-[425px]">
            <span class="text-center"><i class="pi pi-wallet pr-2"></i> Finanças</span>
            <app-input-mask type="text" [formGroup]="formGroup" controlName="cpf" label="CPF" mask="999.999.999-99" />
            <app-input-password [formGroup]="formGroup" controlName="senha" label="Senha" />
            <div class="flex w-full flex-col gap-2">
                <span class="text-center text-xs text-zinc-500">Novo por Aqui? <strong
                        class="text-primary cursor-pointer" (click)="handleGoToRegister()">Registre-se</strong></span>
                <app-button label="Entrar" icon="pi pi-sign-in" type="submit" [loading]="loading" />
            </div>

        </div>
    </form>
</div>