@if(transacoes) {
<div class="grid grid-cols-3 gap-3">
    <div
        class="border border-green-500 flex flex-col justify-between hover:bg-green-800 duration-300 rounded-md px-3 py-2">
        <span class="font-bold text-2xl ">Receitas</span>
        <p class="text-xl font-bold text-green-500  text-end ">
            {{transacoes.receitas | currency:'BRL'}}
        </p>
    </div>
    <div
        class="border border-red-500 flex flex-col justify-between hover:bg-red-800 duration-300 rounded-md px-3 py-2">
        <span class="font-bold text-2xl">Saída</span>
        <p class="text-xl font-bold text-red-500 text-end">
            {{transacoes.despesas | currency:'BRL'}}
        </p>
    </div>
    <div
        class="border border-gray-500 flex flex-col justify-between hover:bg-gray-800 duration-300 rounded-md px-3 py-2">
        <span class="font-bold text-2xl">Total</span>
        <p class="text-xl font-bold text-gray-3 00 text-end">
            {{transacoes.total | currency:'BRL'}}
        </p>
    </div>
</div>
}