<div class="card">
    <p-tabs [(value)]="activeTabIndex" (valueChange)="onTabChange($event)">
      <p-tablist>
        <p-tab value="0">Informações Gerais</p-tab>
        <p-tab value="1">Estatísticas</p-tab>
      </p-tablist>
  
      <p-tabpanels>
        <p-tabpanel value="0">
         <ng-container *ngIf="tabsLoaded[0]">
            <p class="m-0">
              
            </p>
          </ng-container>
        </p-tabpanel>
  
        <p-tabpanel value="1">
          <ng-container *ngIf="tabsLoaded[1]">
            <p class="m-0">
            </p>
          </ng-container>
        </p-tabpanel>
  
        <p-tabpanel value="2">
          <ng-container *ngIf="tabsLoaded[2]">
            <p class="m-0">
            </p>
          </ng-container>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  