<form [formGroup]="formgroup" (ngSubmit)="onSubmit()">

    <div class="w-full !h-full !p-0 flex flex-col justify-between gap-4 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:grid-cols-2 ">
            <app-input controlName="nome" [formGroup]="formgroup" label="Nome"></app-input>
            <app-input controlName="email" [formGroup]="formgroup" label="E-mail"></app-input>
            <app-input-mask mask="(99)99999-9999" controlName="telefone" [formGroup]="formgroup"
                label="Telefone"></app-input-mask>
            <app-input-mask mask="999.999.999-99" controlName="cpf" [formGroup]="formgroup"
                label="CPF"></app-input-mask>
        </div>
        <h1 class="text-xl font-bold my-3 border-b border-zinc-100">Endereço</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 sm:grid-cols-2">
            <app-input controlName="logradouro" [formGroup]="enderecoForm" label="Endereço"></app-input>
            <app-input controlName="bairro" [formGroup]="enderecoForm" label="Bairro"></app-input>
            <app-input controlName="numero" [formGroup]="enderecoForm" label="Número"></app-input>
            <app-input controlName="complemento" [formGroup]="enderecoForm" label="Complemento"></app-input>
            <app-input controlName="cidade" [formGroup]="enderecoForm" label="Cidade"></app-input>
            <app-input controlName="uf" [formGroup]="enderecoForm" label="UF"></app-input>
        </div>
        <div class="flex justify-end mt-3">
            <app-button type="submit" label="Salvar" class="w-32" [loading]="loading"></app-button>
        </div>


    </div>
</form>